<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title" data-ng-init="getIdeasFeed(0, 10)">

    <!--Searchbox-->
    <div class="searchbox col-sm-5 col-xs-5 pull-right">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button">
                    <i class="demo-pli-magnifi-glass"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<!--Page content-->
<!--===================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-xs-9" style="margin:auto;margin-right:10%;margin-left:10%;">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#">Basic</a>
                    </li>
                    <li>
                        <a href="#">Premium</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div id="page-content" infinite-scroll="getIdeasFeed(feeds.number + 1, 10)" infinite-scroll-distance="10">

    <div class="fixed-fluid">

        <div class="fluid col-sm-9 col-xs-9" style="margin:auto;margin-right:10%;margin-left:10%;" data-ng-repeat="feed in feeds.content">

            <!--Summernote-->

            <div class="panel">
                <div class="panel-body">
                    <div class="media-block">
                        <a class="media-left" href="#">
                            <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/10.png">
                        </a>
                        <div class="media-body">
                            <div class="pad-btm">
                                <a href="#" class="btn-link text-semibold media-heading box-inline">
                                    <span data-ng-bind="feed.createdBy"></span>
                                </a>
                                added a new idea

                                <p class="text-muted text-sm">
                                    <i class="demo-pli-smartphone-3 icon-lg"></i> - From Mobile - 11 min ago</p>

                            </div>
                            <div class="pad-btm" data-ng-bind-html="feed.idea.body"></div>
                            <a href="javascript:;" data-ng-click="viewPost(feed)" class="pull-right">
                                <span>more...</span>
                            </a>
                        </div>
                        <div class="media">
                            <div class="media-right">
                                <ul class="list-inline">
                                    <li>
                                        <a href="javascript:;" data-ng-click="vote(false, feed.id)">
                                            <i class="demo-pli-remove icon-lg "></i>
                                        </a>
                                        <span class="text-semibold" data-ng-bind="feed.downVote"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-ng-click="vote(true, feed.id)">
                                            <i class="demo-pli-heart-2 icon-lg"></i>
                                        </a>
                                        <span class="text-semibold" data-ng-bind="feed.upVote"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-ng-click="">
                                            <i class="demo-pli-bell icon-lg"></i>
                                        </a>
                                        <span class="text-semibold">2</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <!-- <ul class="list-inline mar-no">
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/9.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/3.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/1.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-bold text-sm">14+</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->

        </div>
    </div>


</div>
<!--===================================================-->
<!--End page content-->


<!-- </div> -->
<!--===================================================-->
<!--END CONTENT CONTAINER-->

<!--Default Bootstrap Modal-->
<!--===================================================-->
<div class="modal fade" id="feed-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <i class="pci-cross pci-circle"></i>
                </button>
                <!-- <h4 class="modal-title">Modal Heading</h4> -->
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="fluid">

                    <!-- VIEW MESSAGE -->
                    <!--===================================================-->
                    <div class="panel">
                        <div class="panel-body">
                            <div class="mar-btm pad-btm bord-btm">
                                <h3 class="page-header text-overflow">
                                    <span class="label label-normal label-info" data-ng-repeat="tag in feed.idea.tags" data-ng-bind="tag.name"></span>
                                    <div class="pull-right">
                                        <ul class="list-inline">
                                            <li data-ng-repeat="star in starArray" data-ng-class="{'mail-starred': $index <= noOfStars}">
                                                <div class="mail-star">
                                                    <a href="#">
                                                        <i class="demo-psi-star"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </h3>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">

                                    <!--Sender Information-->
                                    <div class="media">
                                        <span class="media-left">
                                            <img src="img/profile-photos/8.png" class="img-circle img-sm" alt="Profile Picture">
                                        </span>
                                        <div class="media-body">
                                            <div class="text-bold">
                                                <span data-ng-bind="feed.createdBy"></span>
                                            </div>
                                            <!-- <small class="text-muted">lisa.aqua@themeon.net</small> -->
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-sm visible-xs">
                                <div class="col-sm-5 clearfix">

                                    <!--Details Information-->
                                    <div class="pull-right text-right">
                                        <p class="mar-no">
                                            <small class="text-muted">
                                                posted
                                                <span data-ng-bind="getTimeSincePost(feed.createdAt)"></span> ago
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row pad-ver">
                                <div class="col-xs-7">

                                    <!--Mail toolbar-->
                                    <button type="button" data-ng-click="" class="btn btn-sm btn-default">
                                        <i class="demo-pli-bag-coins"></i> Donate
                                    </button>
                                </div>
                                <div class="col-xs-5 clearfix">
                                    <div class="pull-right">

                                        <!--Reply & forward buttons-->
                                        <div class="btn-group btn-group">
                                            <a class="btn btn-sm btn-default" href="#">
                                                <i class="demo-psi-left-4"></i>
                                            </a>
                                            <a class="btn btn-sm btn-default" href="#">
                                                <i class="demo-psi-right-4"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Message-->
                            <!--===================================================-->
                            <div class="pad-ver bord-ver">
                                <div class="pad-btm" data-ng-bind-html="feed.idea.body"></div>
                            </div>
                            <!--===================================================-->
                            <!--End Message-->
                        </div>
                    </div>
                    <!--===================================================-->
                    <!-- END VIEW MESSAGE -->

                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Default Bootstrap Modal-->