<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title" data-ng-init="getIdeasFeed()">
    <h1 class="page-header text-overflow">Ideas Feed</h1>

    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button">
                    <i class="demo-pli-magnifi-glass"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Forms</a>
    </li>
    <li class="active">Text Editor</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <div class="fixed-fluid">

        <div class="fluid">

            <!--Summernote-->

            <div class="panel" data-ng-repeat="feed in feeds">
                <div class="panel-body">
                    <div class="media-block">
                        <a class="media-left" href="#">
                            <img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/10.png">
                        </a>
                        <div class="media-body">
                            <div class="pad-btm">
                                <a href="#" class="btn-link text-semibold media-heading box-inline">
                                    <span data-ng-bind="feed.idea.createdBy">
                                </a>
                                added a new idea
                                <!-- <span class="text-semibold">General photos</span> -->

                                <p class="text-muted text-sm">
                                    <i class="demo-pli-smartphone-3 icon-lg"></i> - From Mobile - 11 min ago</p>

                            </div>
                            <summernote height="100" airmode editable="false" data-ng-model="feed.idea.body"></summernote>
                        </div>
                        <div class="media">
                            <div class="media-right">
                                <ul class="list-inline">
                                    <li>
                                        <a href="javascript:;" data-ng-click="vote(false, feed.id)">
                                            <i class="demo-pli-remove icon-lg "></i>
                                        </a>
                                        <span class="text-semibold" data-ng-bind="feed.downVote"></span>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-ng-click="vote(true, feed.id)">
                                            <i class="demo-pli-heart-2 icon-lg"></i>
                                        </a>
                                        <span class="text-semibold" data-ng-bind="feed.upVote"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <!-- <ul class="list-inline mar-no">
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/9.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/3.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-xs img-circle" src="img/profile-photos/1.png" alt="Profile Picture">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-bold text-sm">14+</a>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!-- End Summernote -->

        </div>
    </div>


</div>
<!--===================================================-->
<!--End page content-->


<!-- </div> -->
<!--===================================================-->
<!--END CONTENT CONTAINER-->